#set( $name = $headers.get("name") )
#set( $email = $headers.get("email") )

{
    #if( $name && $email )
        "name": "${name}",
        "email": "${email}"
    #elseif( $name )
        "name": "${name}"
    #elseif( $email )
        "email": "${email}"
    #end
}