<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!-- Definición del RedisClient -->
    <bean id="redisConnection" class="redis.clients.jedis.JedisPool">
        <constructor-arg value="localhost" />
        <constructor-arg value="6379" />
    </bean>

    <!-- Configuración del contexto de Camel -->
    <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
        <route id="redisSetRoute">
            <from uri="direct:start"/>
            <to uri="spring-redis://localhost:6379?command=SET&amp;redisTemplate=#redisTemplate"/>
            <log message="Set value in Redis: ${body}"/>
        </route>

        <route id="redisGetRoute">
            <from uri="direct:get"/>
            <to uri="spring-redis://localhost:6379?command=GET&amp;redisTemplate=#redisTemplate"/>
            <log message="Got value from Redis: ${body}"/>
        </route>
    </camelContext>

    <!-- Configuración del RedisTemplate -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="redisConnection"/>
    </bean>
</beans>
